<router-outlet></router-outlet>
 
  <div class="container-fluid">
        <div class="board">
            <!-- Navigation Area (Circular Tabs) -->
            
            <!-- End Navigation Area (Circular Tabs) -->

            <!-- Content Area -->
            <div class="tab-content">
                <!-- Nested view  -->
               
                
            </div>
            <!-- End Content Area -->
        </div>

        <!-- For Debugging: show our valid formData -->
        <!--<pre>{{ formData | json }}</pre>-->
    </div>

